* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header > h1 {
    color: white;
    text-align: center;
    margin: 8px;
}

#div {
    height: 100vh;
}

#filmlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

figure {
    margin: 1em;
    position: relative;
    z-index: 1;
}

figcaption {
    position: relative;
    z-index: 1;
    text-align: center;
    background-color: black;
    color: white;
    padding: 15px;
    top: -7px;
}

footer {
    color: darkgray;
    text-align: center;
}
