* {
    margin: 0;
}

header > h1 {
    color: white;
    text-align: center;
    margin: 8px;
}

body {
    background-color: black;
}

#div {
    height: 100vh;
}

#filmlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

figure {
    margin: 1em;
    position: relative;
    z-index: 1;
}

figcaption {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 0px 5px 0px;
}