* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-color: cornflowerblue;
}


.navlist {
    display: flex;
    list-style: none;
}

.navlist a {
    display: block;
    font-size: 1.5em;
    padding: .75em .5em;
}

.navlist a:hover {
    background-color: gray;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: navy;
    color: white;
    width: 100%;
    height: 100vh;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-tile {
    margin: 1em;
}

.project-tile:hover {
    color: lightgray;
}

figcaption {
    text-align: center;
}

a {
    text-decoration: none;
}

@media (max-width: 1200px) {
    html {
        font-size: 100%;
    }
}

@media (max-width: 980px) {
    html {
        font-size: 80%
    }
}

@media (max-width: 460px) {
    html {
        font-size: 60%;
    }
}
