@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header > h1 {
  font-family: "Pokemon";
  src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot");
  src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon")
      format("svg");
    font-size: 50px;
    text-align: center;
    color: #ffcb05;
    -webkit-text-stroke: 1.5px #2a75bb;
    text-shadow: -5px 3px  #3c5aa6 ;
}

header > h2 {
  font-family: "Pokemon";
  text-align: center;
  font-size: medium;
}

.buttons {
    text-align: center;
}

.buttons > button:hover {
    background-color: #3c5aa6;
    color: #ffcb05;
    cursor: pointer;
}

.buttons > button {
    padding: 10px;
    margin: 15px;
    background-color: #ffcb05;
    color: #3c5aa6;
    font-family: "Pokemon";
    border-radius: 5px;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.pokeGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.scene {
  width: 200px;
  height: 281px;
  margin: 10px;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  backface-visibility: hidden;
}

.card__face--front {
  text-align: center;
  font-family: "Pokemon";
}

.card__face--back {
  background: rgb(247, 215, 209);
  transform: rotateY(180deg);
  color: black;
  font-size: .75em;
  border: 10px solid red;
  border-radius: 10px;
}

.pokeName {
  font-size: 1.5em;
  font-weight: bolder;
}

.card__face--back > img {
  height: 165px;
  width: 165px;
  margin: 5px 0px 7px 0px; 
}


