@font-face {
  font-family: "pokemonsolid";
  src: url("pokemonfont/f4d1593471d222ddebd973210265762a-webfont.woff2")
      format("woff2"),
    url("pokemonfont/f4d1593471d222ddebd973210265762a-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header > h1 {
  font-family: "pokemonsolid";
  font-size: 50px;
  text-align: center;
  color: #ffcb05;
  -webkit-text-stroke: 1.5px #2a75bb;
  text-shadow: -5px 3px #3c5aa6;
}

header > h2 {
  font-family: "pokemonsolid";
  text-align: center;
  font-size: medium;
}

.buttons {
  text-align: center;
}

.buttons > button:hover {
  background-color: #3c5aa6;
  color: #ffcb05;
  cursor: pointer;
}

.buttons > button {
  padding: 10px;
  margin: 15px;
  background-color: #ffcb05;
  color: #3c5aa6;
  font-family: "pokemonsolid";
  border-radius: 5px;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.pokeGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.scene {
  width: 200px;
  height: 281px;
  margin: 10px;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  backface-visibility: hidden;
}

.card__face--front {
  text-align: center;
}

.card__face--back {
  background: rgb(247, 215, 209);
  transform: rotateY(180deg);
  color: black;
  font-size: 0.75em;
  border: 10px solid red;
  border-radius: 10px;
}

.pokeName {
  font-size: 13px;
  font-weight: bolder;
  font-family: 'pokemonsolid'
}

.card__face--back > img {
  height: 120px;
  width: 120px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  color: black;
}
