:root {
    margin: 0;
    box-sizing: border-box;
}

header {
    color: white;
    text-align: center;
}

header > h1 {
    margin: 4px;
}

header > p {
    font-size: 18px;
    margin: 4px;
}

main {
    display: flex;
    height: 100vh;
}

.shipView {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

nav {
    min-width: 200px;
}

img, nav {
    position: relative;
    z-index: 1;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
}