@font-face {
    font-family: "distant_galaxyregular";
    src: url("../starwarsfont/distgrg_-webfont.woff2") format("woff2"),
      url("../starwarsfont/distgrg_-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

:root {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header > h1 {
    font-family: 'distant_galaxyregular';
    font-size: 65px;
    -webkit-text-stroke: #ffe81f 1px;
    color: black;
}

header > p {
    font-family: 'distant_galaxyregular';
    color: #ffe81f;
    font-size: 25px;
    margin: 4px;
    text-align: center;
    margin: 0px 0px 25px 0px;
}

main {
    display: flex;
}

.shipView {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 250px;
    margin-left: 15px;
}

img, nav {
    position: relative;
    z-index: 1;
}

h1 {
    text-align: center;
    font-size: x-large;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
    padding: 0px 0px 3px 0px;
    font-family: 'distant_galaxyregular';
}

li:hover {
    color: #ffe81f;
}

footer {
    color: darkgray;
    padding-top: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}