* {
    margin: 0;
    box-sizing: border-box;
    background-color: #d9cdb8;
}

.congressGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header > h1 {
    text-align: center;
    padding: 15px 0px 10px 0px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 60px;
    background: -webkit-linear-gradient(45deg, red 35%, white 50%, blue 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: white .25px;
}

#buttonHeader {
    text-align: center;
    padding: 5px 0px 5px 0px;
}

#buttonHeader > button {
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
    font-family: 'Alfa Slab One', cursive;
}

#seniorityButton {
    background-color: red;
    color: white;
}

#birthdayButton {
    background-color: white;
    color: black;
}

#missedVotes {
    background-color: blue;
    color: white;
}

#partyVotes {
    background-color: red;
    color: white;
}

.figureDiv {
    padding: .5em;
    margin: .5em;
    box-shadow: 7px 5px 8px #022E40;
}

figCaption {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: black;
}